In [11]:
a = 5 + 10
print("Additon", str(a))
b = 19 - 6
print("Subtraction", str(b))
c = 61 * 2
print("Multiplication", str(c))
d = 45 / 9
print("Division --> Float", str(d))
# d = 45 // 9
# print("Divison --> Integer", str(d))
e = 12 % 10
print("Modulous or Remainder", str(e))
f = 3 ** 3
print("Power", str(f))

Additon 15
Subtraction 13
Multiplication 122
Division --> Float 5.0
Modulous or Remainder 2
Power 27

In [12]:
#printing using the format --> f

print(f"the type of b is {type(b)}")

print(f"the type of d is: {type(d)}")

the type of b is <class 'int'>
the type of d is: <class 'float'>

In [13]:
#custom input:

name = input("Enter your full name: ")
print("Hii! " + name)

Enter your full name: Ashutosh Pandey
Hii! Ashutosh Pandey

In [14]:
age = int(input("Enter your age: "))
new = age + 1
name = input("Enter your name: ")
print("Hey! " + name + " Next year you will be " + str(new))

Enter your age: 23
Enter your name: Ashutosh
Hey! Ashutosh Next year you will be 24

In [15]:
new_list = [1, 2, "string"]
print(type(new_list))

<class 'list'>

In [17]:
#accessing values by index
new_list[0]

1

In [20]:
#updating value by index
new_list[1] = 'new string'
print(new_list)

[1, 'new string', 'string']

In [22]:
#tuple
new_tuple = (0, "string")
print(type(new_tuple))

<class 'tuple'>

In [23]:
#trying to update value in tuple
new_tuple[1] = 'new string'

TypeError: ignored

In [24]:
new_dict = { "Name" : "Ashutosh",
             "Age" : "24",
             "Profession" : "Software Developer"
           }
print(new_dict)
print(type(new_dict))

{'Name': 'Ashutosh', 'Age': '24', 'Profession': 'Software Developer'}
<class 'dict'>

In [31]:
#printing all the values
print(new_dict.values())
print()

#printing all keys
print(new_dict.keys())
print()

#accessing values by key
print(new_dict['Age'])
print()

#What happens when the key is not present
# print(new_dict['Salary']) --> Gives error

#WE CAN USE GET TO AVOID ERROR BY POINTING CUSTOM VALUE OR NA
print(new_dict.get('Salary', 'Not Present'))

dict_values(['Ashutosh', '24', 'Software Developer'])

dict_keys(['Name', 'Age', 'Profession'])

24

Not Present

In [32]:
# Learning sets

sets = set([1, 1, 4, 4, 4, 9, 9, 16, 25, 25, 25])
print(sets)
print(type(sets))

{1, 4, 9, 16, 25}
<class 'set'>

In [36]:
#What happens if string is passed or list of string is passed

sets = set("Hello")
print(sets)

print("Each character of the string is treated as a value")
print()
print()

print("Observing what happens when list of strings passed")
print()
sets = set(["Hello", "Hii", "Ashutosh", "Ashutosh", "Ashutosh"])
print(sets)
print("Here each string as treated as value")

{'o', 'l', 'H', 'e'}
Each character of the string is treated as a value


Observing what happens when list of strings passed

{'Hello', 'Hii', 'Ashutosh'}
Here each string as treated as value

In [38]:
#CONTROL STRUCTURES

obtained_marks = 67
whats_grade = None

if obtained_marks >= 90:
  whats_grade = 'A'
elif obtained_marks >= 80:
  whats_grade = 'B'
elif obtained_marks >= 70:
  whats_grade = 'C'
elif obtained_marks >= 60:
  whats_grade = 'C-'
else:
  whats_grade = 'F'

print("The grade is {} ".format(whats_grade))

The grade is C-

In [42]:
#LOOPS

#print from 1 to n
n = int(input("Enter the number: "))
for i in range(1, n+1):
  print(i, end=" ")

Enter the number: 5
1 2 3 4 5

In [44]:
#printing odd numbers from 1 to n

x = int(input("Enter the number: "))

# for i in range(1, x+1):
#   if i % 2 != 0:
#     print(i, end=" ")

for i in range(1, x+1, 2):
  print(i, end=" ")

Enter the number: 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [46]:
vowels = ['a', 'e', 'i', 'o', 'u']
text = "Hello"
vowel_count = 0

for ch in text:
  if ch in vowels:
    vowel_count += 1

print("The count of vowels present: {}".format(vowel_count))

The count of vowels present: 2

In [51]:
#WHILE LOOPS

a = 1
while a <= 100:
  print(a, end=" ")
  a += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [54]:
#LIST COMPREHENSION

l = list([1, 2, 3, 4, 5])
print(type(l))
print("using list comprehension to square each number in the list")
print()

square_list = [i ** 2 for i in l]
print(square_list)

<class 'list'>
using list comprehension to square each number in the list

[1, 4, 9, 16, 25]

In [55]:
# square if even number else cube if odd

sq_cu_list = [i ** 2 if i % 2 == 0 else i ** 3 for i in l]

print(sq_cu_list)

[1, 4, 27, 16, 125]

In [56]:
#Learning functions

def square_num(x):
  return x ** 2

res = square_num(9)
print(res)

81

In [80]:
#practice lambda

x_to_square = lambda x: x ** 2

x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# for i in range(len(x)):
#   print(x_to_square(x[i]), end=" ")

In [81]:
#MAP EXAMPLE
# x_squared = [1, 4, 9, 16, 25, 36, 64, 49, 64, 81, 100]

res_map = list(map(x_to_square, x))
print(type(res_map))
# print(list(res_map))

# print(type(x_squared))
res_map

<class 'list'>

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
#FILTER EXAMPLE

print(list(filter(lambda x : x % 2 == 0, res_map)))

[4, 16, 36, 64, 100]

In [83]:
#REDUCE EXAMPLE
from functools import reduce
print(reduce(lambda a, b: a if a > b else b, x))

10

In [85]:
#CODING QUESTION

# 1) FIBONACCI SERIES OF A NUMBER N

first = 0
second = 1

n = int(input("ENTER THE NUMBER: "))

i = 2
for i in range(n+1):
  print(first)
  third = first + second
  first = second
  second = third

ENTER THE NUMBER: 5
0
1
1
2
3
5

In [89]:
# 2) CHECK IF A STRING IS PALINDROME OR NOT

strs = input()

i = 0
j = len(strs)-1

isPalindrome = True

while i < j:
  if strs[i] != strs[j]:
    isPalindrome = False
    break
  i += 1
  j -= 1

if isPalindrome:
  print("Palindrome string: "+strs)
else:
  print("Not a Palindrome string: "+(strs))

ashuuhsa
Palindrome string: ashuuhsa